link(rel='stylesheet' href='assets/style/main.css')
script(type='text/javascript' src='assets/js/jquery-2.1.4.min.js')
script(type='text/javascript' src='assets/js/jquery.resize-rhythm.js')
script(type='text/javascript' src='assets/js/script.js')
meta(name='viewport' content='width=device-width, initial-scale=1')
