| ---
| layout: master
| ---
= '\n'
include mixins.jade


#landing.container
    //- landing panel
    .row
        .nine.columns.island
            .eight.columns.offset-by-one
                h1 Childcare Begins with Trust
                p Lorem ipsum dolor sit amet, nibh liber ex has, erat consequat vel id.
                a(href='#about' class='button')
.container 
    .row
        .media
            img(src='assets/img/provider.jpg' class='five columns')
            .one-half.column.offset-by-one
                h3 My Philosophy
                p Lorem ipsum dolor sit amet, nibh liber ex has, erat consequat vel id. Epicurei suavitate accommodare no est, feugait denique ne sed. Ius ei principes torquatos disputationi, cum labores sententiae cu.
    .row
        .media
            img(src='assets/img/graduation30.svg' class='two columns')
            .ten.columns
                h3 Competency
                p Lorem ipsum dolor sit amet, nibh liber ex has, erat consequat vel id. Epicurei suavitate accommodare no est.
    .row
        .media
            img(src='assets/img/kindergarden.svg' class='two columns')
            .ten.columns
                h3 Experience
                p Epicurei suavitate accommodare no est, feugait denique ne sed. Ius ei principes torquatos disputationi.
    .row
        .media
            img(src='assets/img/agreement2.svg' class='two columns')
            .ten.columns
                h3 Trust
                p Lorem feugait denique ne sed. Ius ei principes torquatos disputationi, cum labores sententiae cu

    .row.wrapper--hero
        .hero
        .ten.columns.parallax
                h3 Government Approved Dayhome
                p principes aliquando usu, doctus ancillae appellantur duo ei. Ut populo elaboraret qui. Sed eu vulputate scribentur. At duo melius denique, ex bonorum tincidunt per, no facilis perpetua nec. Duo integre lucilius ad. Te mea eirmod mnesarchum, quod vidit nostrum ex vim. Te usu eros scripta indoctum.
                a(class='button') Learn 

    .activity.wrapper
        img(src='assets/img/art.jpg')
        .row.island--primary
            .media
                img(src='assets/img/art.png' class='two columns')
                p(class='ten columns') "Every child is an artist. The problem is how to remain an atrist once he grows up." Pablo Picasso	
    .activity.wrapper
        img(src='assets/img/play.jpg')
        .row.island--primary
            .media
                img(src='assets/img/play.png' class='two columns')
                p(class='ten columns') "Play is not a luxury. Play is a necessity." Kay Redfield Jamison
    .activity.wrapper
        img(src='assets/img/dress-up.jpg')
        .row.island--primary
            .media
                img(src='assets/img/dress-up.png' class='two columns')
                p(class='ten columns') "Pretend play allows the ability to integrate emotion with cognition" Psychology Today 
    .activity.wrapper
        img(src='assets/img/learning.jpg')
        .row.island--primary
            .media    
                img(src='assets/img/learning.png' class='two columns')
                p(class='ten columns') "Teaching is the art of awakening the natural curiousity of young minds" Anatole France

    .row
        h2(class='three columns tab focus') Park
        h2(class='three columns tab') Beach
        h2(class='three columns tab') Zoo
    .row.card--tabbed
        #park.mod.img
            img(src='assets/img/playground.jpg')
            p Lorem ipsum dolor sit amet, zril postulant ea per, ut quo rebum denique adversarium. Ne placerat efficiantur vix, eu integre perpetua intellegat nec, accumsan quaerendum vim ad. Mea an viris tibique liberavisse, in pro delenit persecuti. Ea qui saepe ceteros urbanitas. An ipsum reprimique vim, est te nostro adolescens adipiscing
        #beach.mod.img
            img(src='assets/img/auburn.jpg')
            p Libris mediocritatem at usu. Ad simul phaedrum nec. Te animal eligendi vim, virtute utroque contentiones mel ex. Eos doctus scripserit ei, hinc dicit ne vel. Scripta assentior eu sea.
        #zoo.mod.img
            img(src='assets/img/zoo.jpg')
            p Probatus vituperata in ius. Dictas voluptaria instructior eum in, omnis vocent latine cum ex, te mei tritani mandamus. Vis clita doming reprimique id, vim ad dolorem ceteros referrentur. 
    .row
        h2(class='three columns tab focus') Mon
        h2(class='three columns tab') Tue
        h2(class='three columns tab') Wed
    .row.card--tabbed
        #mon.mod
            h3 Morning Snack
            p carrots with baby rabbits
            hr
            h3 Lunch
            p asphalt fried mama rabbit
            hr
            h3 Afternoon Snack
            p I don't think you'll be that hungry. . .
    .row.card.mod.text
        h3 Part-time
        em $10.40/hr
        em $65.00/day
        p Drop-in Spots Available
        hr
        p Snacks and Lunch Provided
        hr
        p Flexible Hours
    .row.card.mod.text
        h3 Before/After School
        em $10.40/hr
        p Drop-in Spots Available
        hr
        p CLose to Bus Routes
        hr
        p Lorem Ipsum Something
    .row.card.mod.text.focus
        h3 Full-Time
        em $920.00/month
        p Lunch and Snacks Provided
        hr
        p Some other Benefit
        hr
        p Subsidies Available
        a(href='#' class='button') Subsidy Info

    | {% for posts in site.posts limit: 2 %}
    .post
        .row
            img(src='{{ posts.img }}' class='twelve columns')
        .row
            .media.twelve.columns
                p(class='two columns cal')  {{ posts.date | date: '%d %B' }}
                h3(class='nine columns offset-by-one') {{ posts.title }}
            | {{ posts.excerpt }}
    | {% endfor %}
