@import "global-variables";
body {
	color: #fff; 
	background-color: #ddd;
}
#landing {
	background: url('../img/landing-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: calc(100vh - 72px);
	width: 100vw;
	margin-left: 0;
	padding-left: 0;
}
body {
	@include vertical-rhythm(12px);
}

	
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.callout {
	background-color: rgba(10,10,190,0.25);
	bottom: 72px;
	margin-top: 360px;
}	

.parallax {
	height: 420px;
	background: url('../img/govt.jpg') no-repeat center center fixed;
	background-size: auto 100%;
	width: 100%;
}

.parallax > div {
	@extend %vertical-align;
}
.media {
	display: flex;
	align-items: center;
}
.container.activity {
	margin-left: 0;
	padding-left: 0;
}
.activity > .media {
	width: 100vw;
	background-color: rgba(10,10,150,0.25);
	position: absolute;
	bottom: 0;
}
.activity > img {
	width: 100vw;
}
.bottom > img {
	height: 48px;
	width: auto;
}
.wrapper {
	width: 100%;
	position: relative;
}
.img-mod {
	position: absolute;
	margin-top: 12px;
}
.mod.img > img {
	max-width: 100%;
}
#park {
	display: none;
}
#beach {
	display: none;
}
#zoo {}
.mod {
	margin: 12px 0;
}
.mod.text {
	text-align: center;
}
.tab {
	text-align: center;
}
.card > h2 {
}







