@import "global-variables";
/*===OBJECTS===*/
.icon {
	max-width: 48px;
	margin-right: 2rem;
}
/*===LANDING===*/
.hero {
	background: url('../img/landing-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: calc(100vh - 55px);
}

.island--hero {
	width: 36rem;
}


/*===ACTIVITIES===*/

.tab, .tab--large {
	margin-right: 5%;
}
.tab {
	width: 25%;
}
.tab--large {
	width: 100%;
}

/*****TODO-FIX THIS*********/
.is-hidden--mobile {
	display: none;
}