@import "global-variables";
body {
	color: black;
	background-color: #ddd;
}
#landing {
	background: url('../img/landing-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: calc(100vh - 72px);
	width: 100vw;
	margin-left: 0;
	padding-left: 0;
}
body {
	@include vertical-rhythm(12px);
}

	
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.callout {
	background-color: rgba(10,10,190,0.25);
	bottom: 72px;
	margin-top: 360px;
}	

.parallax {
	height: 420px;
	background: url('../img/govt.jpg') no-repeat center center fixed;
	background-size: auto 100%;
	width: 100%;
}

.parallax > div {
	@extend %vertical-align;
}
.media {
	display: flex;
	align-items: center;
}
.activity > .media {
	margin-left: -10%;
	width: 100vw;
	background-color: rgba(10,10,150,0.25);
}
#activity1 {
	background: url('../img/art.jpg') no-repeat center center;
	background-size: auto 480px;
}















