include ./mixins.jade

doctype html
html
    head
        link(rel='stylesheet' href='assets/style/main.css')
        script(type='text/javascript' src='assets/js/jquery-2.1.4.min.js')
        meta(name='viewport' content='width=device-width, initial-scale=1')

    body
      
        header(class='container')
            .twelve.columns
                p(class='eight columns') Foundations Dayhome!
                a(href='tel:5874364584',class='four columns') 587.436.4584
            img(src='assets/img/baby.png' class='two columns')


        | {{ content}}


        footer
            .container
                .wrapper.contact 
                    .row.circle
                        a(href='tel:5874364584')
                            img(src='assets/img/phone.png')
                    .row 
                        h2 Contact
                    .row
                        a(href='tel:5874364584') 587.436.458
                .wrapper.contact
                    .row.circle
                        a(href='mailto:meaghanlos@gmail.com')
                            img(src='assets/img/mail.svg')
                    .row.mod.text
                        h2 Email
                        a(href='mailto:meaghanlos@gmail.com') meaghanlos@gmail.com
                hr
                p icons by Google;  www.flaticon.com is liscensed by CC BY 3.0
                p &copy Jordan Los 2015

